<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uniftec.sportscheduleapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sport Schedule"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportScheduleApp">
        <activity android:name=".Login" android:label="Login"></activity>

        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BemVindo"
            android:exported="true">
        </activity>


        <activity
            android:name=".CadastroQuadra1"
            android:exported="true"
            android:label="Cadastro da Quadra"
            android:parentActivityName=".BemVindo"
            >

        </activity>

        <activity
            android:name=".CadastroQuadra2"
            android:exported="true"
            android:label="Cadastro da Quadra"
            android:parentActivityName=".CadastroQuadra1"
            >
        </activity>

        <activity
            android:name=".CadastroQuadra3"
            android:exported="true"
            android:label="Cadastro da Quadra"
            android:parentActivityName=".CadastroQuadra2"
            tools:ignore="Instantiatable">
        </activity>

        <activity
            android:name=".CadastroItem"
            android:exported="true"
            android:label="Cadastro de Itens"
            android:parentActivityName=".CadastroQuadra2"
            />

    </application>

</manifest>